<h1>YouTube</h1>
<ul>
  {{#each youtubeArr}}

  <iframe src='https://www.youtube.com/embed/{{this}}'> </iframe>
  {{/each}}
</ul>

{{!-- <ul>
  {{#each tweetsTime}}
  <li>{{this}}</li>

  {{/each}}
</ul> --}}



<ul>
  {{#each twitterArr}}


  <li>{{@key}}: {{this}}</li>

  {{/each}}
</ul>

{{#each object}}
{{@key}}: {{this}}
{{/each}}



  <li>{{this}}</li>

  {{/each}}
</ul>
<p>If you think this is the incorrect Twitter account, or there are no tweets shown, please click here to search
  manually</p>
<a href="/re-search"><button>re-search</button></a>


